{% extends 'base.html' %}
{% block content %}
<h1>ログインページ</h1>
<p>ユーザー名とパスワードを入力してください</p>
{% if form.errors %}
<p>ユーザー名かパスワードが間違っています。もう一度入力してください。</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
  <p>あなたのアカウントはこのページにアクセスできません。アクセス可能なアカウントでログインしてください。</p>
  {% else %}
  <p>このページを見るにはログインしてください</p>
  {% endif %}
{% endif %}

<form action="{% url 'login' %}" method="post">
{% csrf_token %}
<table>
  <tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
  </tr>
  <tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
  </tr>
</table>
<input type="submit" value="login" class="login-btn">
<input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock %}
