{% load static %}
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>「IpLog」日常の「これは大事なこと」を共有</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="{% url 'logapp:top_page' %}"><img src="{% static 'image/logo.png' %}" alt="ImLog"></a>
      </div>
      <div class="nav">
        <ul class="global-nav">
          {% if  user.is_authenticated %}
            <li class="login-txt">{{ user.get_username }}がログインしています</li>
            <li><a href="{% url 'logout' %}">ログアウト</a></li>
          {% else %}
            <li><a href="{% url 'login' %}">ログイン</a></li>
            <li><a href="{% url 'accounts:signup' %}">新規登録</a></li>
          {% endif %}
        </ul>
      </div>
    </header>
    <main id="base">
      <div class="contents">

      </div>
    </main>
    <footer>
      <small>(c)2019 shogo kato</small>
    </footer>
  </body>
</html>
